* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: burlywood;
    widows: 100%;
    margin: 0 auto;

}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 0;
    background: black;
    justify-content: space-between;
    text-align: center;
    display: flex;
    height: 90px;   
    z-index: 99;
}

.nav-bar {
    padding-top: 10px;
}
.nav-bar  a{
position: relative;
font-size: 16px;
color:white;
text-decoration: none;
font-weight: 500;
margin: 0 20px;

}

.nav-bar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.nav-bar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}


.contenitore {
   
    width: 100%;
    height: auto;

}
.contenitore-top {
    position: relative;
    width: 100%;
    height: auto;
    background-color:transparent;
    align-items: center;
    height: 900px;
    top: 0;
}

.container-body {

    margin:0 auto;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    height: 800px;    
}

.contenitore-immmagine {

    position: fixed;
    width: 100%;
    height: 100%;
    background: url('lib2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    z-index:-2;
}

.section-1-card {
  width: 100%;
  height:100%;
  background-color:transparent;
  padding: 24px;
  text-align: center;
  position: absolute;
  
}
.card {
    width: 190px;
    text-align: center;
    float: left;
    border-radius: 0;
    border: none;
    background-color: transparent;
    margin-right: 14px;
    position: relative;
    float: left;
    z-index: 4;
    height:380px;
    display: flex;

}


.locandine-eventi {
    width: 90%;
    height: 700px;
    position: relative;
    margin: 0 auto;
    display: block;
    z-index: 1;
}
.locandine-eventi img {
  width: 100%;
  height: 100%;
}


.cover-img {
    padding: 10px 10px;
    width: 190px;
    height: 220px;
    background-color: rgb(170, 137, 95);
    z-index: 1;

}

.cover-img img {
    width: 90%;
    height: 100%;
}

.nascondi {
  width: 190px;
  height: 100%;
  opacity: 0;
  transition:  0.2s ease;
  display: flex;
  position:absolute;
  z-index: 5;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

}

.nascondi:hover {
  opacity: 1;
}

.nascondi:hover .btn-dettaglio, .nascondi:hover .btn{

  transition: translateY(0);
}

.cover-dettaglio {
    padding: 0;
    left: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 47.2%;
    width: 190px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: translateY(-20px);

}

.btn-dettaglio {
  width: 190px;
  border: none;
  background-color: transparent;
  color: #f0f9ff;
  margin: 20px auto;
  transition: all 0.4s ease-in-out;

}

.card-title {
	width:100%;
	height: 40px;
}


.content-logo {
	height:90px;
	margin-left:20px;
}
 .img-logo {
  width: 50px;
  height: auto;

}

.img-testo {
  width: 100px;
  height: auto;
}

.btn {
	padding: 7px 10px;
  width: 190px;
  background:black;
  color: white;
  font-size: 14.5px;
  font-weight: 600;
  text-align: center;
  padding-right: 2px;
  border-radius: none;
  border: 2px solid black;
  transition: all 0.4s ease-in-out;
  transform: translateY(-20px);
}

.btn:hover {
	 border: 2px solid black;
  color: black;
  background: burlywood;
}


.card-body {
  width: 190px;
  height: 75px;
}

.section-1 {
  width: 90%;
  height: 500px;
  background-color: transparent;
  
}

.cover-section-1 {
  height: 140px;
  width: 100%;
  position: absolute;
  background-color: burlywood;
  margin: 0 auto;
}



.linea {
  width: 70%;
  border-top: 1px solid black;
  margin: 0 auto;

}

.titoli {
  position: relative;
  margin: 0 auto;
  font-weight: 900px;
  color: black;
  font-family: 'Soin Sans Pro';
  text-align: center;
}



.search-bar {
  margin-left: 10px;
  width:400px;
  height: 45px;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  display: flex;
  align-items: center;

}

.search-bar input{
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  padding-left: 10px;
}

.search-bar input::placeholder {
  color: white;

}

.search-bar button {
  width: 40px;
  height: 100%;
  background:transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center ;
  cursor: pointer;
}

.search-bar button i {
  font-size: 22px;
  color: white;
}




.footer-dark {
    padding:20px 0;
    color:#f0f9ff;
    background-color:#282d32;
    height: 180px;
    position:relative;
    z-index: 0;
    
    
  }
  
  .footer-dark h3 {
  	
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

  .cover-header {
    height: 90px;
    width: 100%;
  }

  .main-carousel {
    padding: 20px 0;
}

.carousel-cell {
    min-height: 500px;
    width: 100%;
    margin: 20px 0;

}
.carousel-cell img {
  width: 100%;
  height: 100%;
}
.bottone-indietro a {
	text-decoration: none;

	}
.bottone-indietro {
text-decoration:none;
  background-color: black;
  color:white;
  width: 200px;
  height: 50px;
  padding: 10px 0;
  margin: 0 auto;
  transition: all .2s ease-in-out;
 
}

 .bottone-indietro a {
text-decoration:none;
  background-color: transparent;
  color:white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: all .4s ease-in-out;
 
}
.bottone-indietro:hover {
  border: 2px solid black;
  background: white;
  color: black;

}

.bottone-indietro a:hover {
	background: transparent;color: black;
}



html {
  overflow-x: hidden;
}

.spazio {
	width:100%;
	height: 50px;
	
}

.content-logo a {
	text-decoration: none;
}
.sconto {
	width: 50%;
	position:relative;
	float: left;
	color: white;
	text-decoration:line-through;
	font-weight: 600;
	margin: 0 auto;
}
.card-price {
	width: 50%;
	position: relative;
	float: left;
	margin: 0 auto;
}

.card-title {
	width: 100%;
	font-size: 15px;
}