<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet">
    <title>Area Utente</title>
</head>
 <body>
    <header class="header">
        <div class="content-logo">
             <a th:href="@{/homepage}"><img class="img-logo" th:src="@{/images/LibreriaDelLevantesolo_logo2.jpg}" alt="LOGO">
        <img class="img-testo" th:src="@{/images/LibreriaDelLevantesolo_testo2.jpg}" alt="LOGO"></a>
        </div>
        <nav class="nav-bar">
            <a th:href="@{/homepage}" th:text="'Home'"></a>
            <a href="CatalogoLibri.html">Cataloghi</a>
            <a href="Eventi.html">Eventi</a>
        </nav>
        </header>
    <div class="cover-header"></div>
        <div class="alert" style="margin: 0 auto; text-align: center; height: 600px; padding: 150px 0;">
        <h1 th:text="'Registrazione avvenuta con successo'"></h1><br>
        <div class="bottone-indietro">
        <a th:href="@{/homepage}" th:text="'Torna in home page'"></a></div>
        </div>
        <div class="bottone-indietro" style="text-align: center; margin-bottom: 20px;"> <a th:href="@{/utente/login}" th:text="'Accedi'"></a></div>
        <div class="footer-dark">
            <footer>
            <div class="container">
                <div class="row">
                <div class="col-sm-6 col-md-3 item">
                        <h3 th:text="'Contatti'"></h3>
                        <ul>
                            <li><a href="#" th:text="'Email: Levante@gmail.com'"></a></li>
                            <li><a href="#" th:text="'Telefono: +010 41404054'"></a></li>
						</ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3 th:text="'Servizi'"></h3>
                        <ul>
                            <li><a href="#" th:text="'Web design'"></a></li>
                            <li><a href="#" th:text="'Sviluppo'"></a></li>
                            <li><a href="#" th:text="'Generation'"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3 th:text="'Di noi!'"></h3>
                        <ul>
                            <li><a href="#" th:text="'Compagnia'"></a></li>
                            <li><a href="#" th:text="'Squadra'"></a></li>
                            <li><a href="#" th:text="'Carriera'"></a></li>
                        </ul>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
               <a th:href="@{/catalogo}"style="text-decoration: none; color: rgb(178, 172, 172); cursor: pointer;">
                <p class="copyright" th:text="'Libreria Del Levante © 2023'"></p>
                </a>
            </div>
        </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
 </body>
</html>