<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylecatalogo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleDettaglio.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title th:text="'Catalogo Libri'"></title>
</head>
 <body>
    <header class="header">
        <div class="content-logo">
            <a th:href="@{/homepage}"><img class="img-logo" th:src="@{/images/LibreriaDelLevantesolo_logo2.jpg}" alt="LOGO">
                <img class="img-testo" th:src="@{/images/LibreriaDelLevantesolo_testo2.jpg}" alt="LOGO"></a>
        </div>
        <form action="#" class="search-bar">
            <input type="text" id="search-input" placeholder="Cerca...">
            <button type="submit"><i class="bx bx-search"></i></button>
        </form>
        <nav class="nav-bar">
            <a th:href="@{/homepage}" th:text="'Home'"></a>
            <a th:href="@{/libri}" th:text="'BookStore'"></a>
            <a th:href="@{/eventi}" th:text="'Eventi'"></a>
        </nav>
        <nav class="nav-bar">
        	<a th:href="@{/utente/login}" th:text="'Accedi'"></a>
	           <a th:href="@{/utente/form}" th:text="'Registrati'"></a>
        </nav>
    </header>
    <div class="cover-header"></div>
    <div class="titolo-catalogo">
        <h6 th:text="'IL NOSTRO'"></h6>
        <h1 th:text="'BOOKSTORE'"></h1>
        <div class="spazio"></div>
        <div class="linea linea-top"></div>
	    <div style="margin-top: 8px;" th:if="${ok}">
	    	<h3 th:text="'PRENOTAZIONE AVVENUTA CON SUCCESSO'" style="color: green;"></h3>
	    	<div class="linea linea-top"></div>
	    </div>
    </div>
    <div class="contenitore-catologo">
        <div class="left-bar">
            <h4 th:text="'Categorie'"></h4>
            <div class="linea"></div>
                <ul th:each="g : ${generi}">
                    <li>
                    	<a th:href="@{libri(idGenere=${g.id})}" th:text="${g.descrizione}"></a> 
                    </li>
                </ul>
        </div>
        <div class="cataloghi">
            <div class="cataloghi-content">
                     
                        <div class="card cercatitolo" id="card-libri" style="width: 12rem;" th:each="l : ${libri}" th:if="${totale == true}">
	                        <div class="cover-img">
	                        	<img th:src="${l.immagine}" alt="Card image cap">
	                        </div>
	                        <div class="card-body">
	                            <h5 class="card-title" th:text=${l.titolo}></h5>
	                            <p class="sconto" th:text="${#numbers.formatDecimal(l.prezzo,0,'POINT',2,'COMMA')} + '€'"></p>
	                            <p class="card-price" th:text="${#numbers.formatDecimal(l.sconto,0,'POINT',2,'COMMA')} + '€'"></p>
	                        </div>
                        	<div class="nascondi">
	                        	<div class="cover-dettaglio" >
	                            	<a th:href="@{/libri(idLibro=${l.id})}">
	                            	<button class="btn-dettaglio"  th:text="'Dettagli'"></button>
	                            	</a>
	                        	</div>
			                    <div class="card-cart">
			                    <form action="libri/prenotalibro" method="post">
			                    	<label for="idLibro"  ></label>
				   					<input th:value="${l.id}" type="hidden" id="idLibro" name="idLibro" >
			       					<input type="submit" class="btn" th:value="'PRENOTA IL LIBRO'">
			                    </form>
			                    </div>
                    		</div>
       					</div>
        				<div class="contenitore-dettaglio" th:if="${totale == false}" >
				            <div class="box-immagine">
				                <img th:src="${libro.immagine}" alt="immagine">
				            </div>
				            <div class="box-resume">
				                <div class="box-resume-2">
				                	<h1 th:text="${libro.titolo}"></h1>
					                <div class="content-autore">
					                    <p class="contenuto-autore" th:text="${libro.autore.nome}"></p>
					                </div>

					              
					                <div class="content-acquisti">
					          			<p th:text="'Prezzo:'"></p>
					                    <p class="sconto" th:text="${#numbers.formatDecimal(libro.prezzo,0,'POINT',2,'COMMA')} + '€'"></p>
					                    <p th:text="${#numbers.formatDecimal(libro.sconto,0,'POINT',2,'COMMA')} + '€'"></p>
					                  
					                   
					                   
					                        <form action="libri/prenotalibro" method="post">
						                    	<label for="idLibro" ></label>
							   					<input th:value="${libro.id}" type="hidden" id="idLibro" name="idLibro" >
						       					<input type="submit" class="btn-dettaglio-buy" th:value="'PRENOTA IL LIBRO'">
						                    </form>
					                    </div>
					                    <div class="linea linea-top"></div>
					                     <div class="box-descrizione">
					                        <p th:text="${libro.descrizione}"></p>
					                </div>
				                    </div>
				                </div>
				            </div>
				        </div>
            </div>
        </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                <div class="col-sm-6 col-md-3 item">
                        <h3 th:text="'Contatti'"></h3>
                        <ul>
                            <li><a href="#" th:text="'Email: Levante@gmail.com'"></a></li>
                            <li><a href="#" th:text="'Telefono: +010 41404054'"></a></li>
						</ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3 th:text="'Servizi'"></h3>
                        <ul>
                            <li><a href="#" th:text="'Web design'"></a></li>
                            <li><a href="#" th:text="'Sviluppo'"></a></li>
                            <li><a href="#" th:text="'Generation'"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3 th:text="'Di noi!'"></h3>
                        <ul>
                            <li><a href="#" th:text="'Compagnia'"></a></li>
                            <li><a href="#" th:text="'Squadra'"></a></li>
                            <li><a href="#" th:text="'Carriera'"></a></li>
                        </ul>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
               <a th:href="@{/catalogo}"style="text-decoration: none; color: rgb(178, 172, 172); cursor: pointer;">
                <p class="copyright" th:text="'Libreria Del Levante © 2023'"></p>
                </a>
            </div>
        </footer>
    </div>
    <script>
  const searchInput = document.getElementById("search-input");
  const cat = document.getElementsByClassName("cataloghi-content")[0];
  var cards = cat.getElementsByClassName("cercatitolo");

  searchInput.addEventListener("keyup", function(event) {
    const searchText = event.target.value.toLowerCase();

    Array.from(cards).forEach(function(card) {
      const cells = card.getElementsByClassName("card-title");
      let found = false;

      Array.from(cells).forEach(function(cell) {
        const cellText = cell.textContent.toLowerCase();
        if(cellText.indexOf(searchText) !== -1) {
          found = true;
        }
      });

      if(found) {
        card.style.display = "block";
      } else {
        card.style.display = "none";
      }
    });
  });
</script>
</body>
</html>