<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/stylecatalogo.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Home page</title>
</head>
 <body>
    <header class="header">
        <div class="content-logo">
            <a href="HomePage.html"><img class="img-logo" src="LibreriaDelLevantesolo_logo2.jpg" alt="LOGO">
                <img class="img-testo" src="LibreriaDelLevantesolo_testo2.jpg" alt="LOGO"></a>
        </div>
        <form action="#" class="search-bar">
            <input type="text" placeholder="Cerca...">
            <button type="submit"><i class="bx bx-search"></i></button>
        </form>
        <nav class="nav-bar">
            <a href="HomePage.html">Home</a>
            <a href="CatalogoLibri.html">Cataloghi</a>
            <a href="Eventi.html">Eventi</a>
            <a href="#">Contatti</a> 
        </nav>
        <nav class="nav-bar">
            <a href="Form.html">Accedi / Registrati</a>
        </nav>
    </header>
    <div class="cover-header"></div>
    <div class="titolo-catalogo">
        <h6 th:text="'IL NOSTRO'"></h6>
        <h1 th:text="'BOOKSTORE'"></h1>
        <div class="linea linea-top"></div>
	    <div style="margin-top: 8px;">
	    	<h3 th:text="'PRENOTAZIONE AVVENUTA CON SUCCESSO'" style="color: green;"></h3>
	    	<div class="linea linea-top"></div>
	    </div>
    </div>
    <div class="contenitore-catologo">
        <div class="left-bar">
            <h4 th:text="'Categorie'"></h4>
            <div class="linea"></div>
                <ul th:each="g : ${generi}">
                    <li>
                    	<a th:href="@{libri/generelibro(idGenere=${g.id})}" th:text="${g.descrizione}"></a> 
                    </li>
                </ul>
            <div class="linea"></div>
        </div>
        <div class="cataloghi">
            <div class="catologhi-content">
                <div class="section-1">
                    <div class="section-1-card">
                     
                        <div class="card" id="card-libri" style="width: 12rem;" th:each="l : ${libri}" th:if="${totale == true}">
	                        <div class="cover-img">
	                        	<img th:src="${l.immagine}" alt="Card image cap">
	                        </div>
	                        <div class="card-body">
	                            <h5 class="card-title" th:text=${l.titolo}></h5>
	                            <p class="card-price" th:text="${l.prezzo} + '€'"></p>
	                        </div>
                        	<div class="nascondi">
	                        	<div class="cover-dettaglio">
	                            	<a href="Dettaglio.html">
	                            	<button class="btn-dettaglio" href="Dettaglio.html" th:text="'Dettagli'"></button>
	                            	</a>
	                        	</div>
			                    <div class="card-cart">
			                    <form action="libri/prenotalibro" method="post">
			                    	<label for="idLibro"  ></label>
				   					<input th:value="${l.id}" type="hidden" id="idLibro" name="idLibro" >
			       					<input type="submit" class="btn" th:value="'PRENOTA IL LIBRO'">
			                    </form>
			                    </div>
                    		</div>
       					</div>  
       					<div class="card" id="card-libri" style="width: 12rem;" th:each="gl : ${genereLibri}" th:if="${totale == false}">
	                        <div class="cover-img">
	                        	<img th:src="${l.immagine}" alt="Card image cap">
	                        </div>
	                        <div class="card-body">
	                            <h5 class="card-title" th:text=${l.titolo}></h5>
	                            <p class="card-price" th:text="${l.prezzo} + '€'"></p>
	                        </div>
                        	<div class="nascondi">
	                        	<div class="cover-dettaglio">
	                            	<a href="Dettaglio.html">
	                            	<button class="btn-dettaglio" href="Dettaglio.html" th:text="'Dettagli'"></button>
	                            	</a>
	                        	</div>
			                    <div class="card-cart">
			                    <form action="libri/prenotalibro" method="post">
			                    	<label for="idLibro"  ></label>
				   					<input th:value="${l.id}" type="hidden" id="idLibro" name="idLibro" >
			       					<input type="submit" class="btn" th:value="'PRENOTA IL LIBRO'">
			                    </form>
			                    </div>
                    		</div>
       					</div>        					
                    </div>
       					<!-- 
			                    	<a href="#" class="btn">PRENOTA IL LIBRO</a>
       					 -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servizi</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Svilupppo</a></li>
                            <li><a href="#">Generation</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Di noi!</h3>
                        <ul>
                            <li><a href="#">Compagnia</a></li>
                            <li><a href="#">Squadra</a></li>
                            <li><a href="#">Carriera</a></li>
                        </ul>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Libreria Del Levante © 2023</p>
            </div>
        </footer>
    </div>
</body>
</html>