<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="'Admin Area'"></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    	<script src="https://cdn{.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    	<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    	<link th:href="@{/css/AreaAmministratore.css}" type="text/css" rel="stylesheet">
    	
	</head>
<body>
		
		<header class="header">
        <div class="content-logo">
        <a href="HomePage.html"><img class="img-logo" th:src="@{/images/LibreriaDelLevantesolo_logo2.jpg}" alt="LOGO">
        <img class="img-testo" th:src="@{/images/LibreriaDelLevantesolo_testo2.jpg}" alt="LOGO"></a>
        </div>
        <div class="text-center">
				<h1 th:text="'Area Admin'" style="margin: 0px auto; color:white;"></h1>
			</div>
        			<div class="text-center" style="margin:0 20px;">
			        	<a th:href="@{/homepage}" th:text="'Home'" class="btn btn-success btn-nav"></a>
			        	<form th:action="@{/catalogo/logout}" method="post">
			        		<input  type="submit" th:value="'Logout'" class="btn btn-success btn-nav">
			        	</form>
	        </div>
    </header>
	
	<div class="cover-header"></div>
		<div class="row mt-4"  style="max-width:1200px; margin:0 auto; padding-top: 40px;">
			<div class="col-3 text-center">
				<a th:href="@{/catalogo/eventi}" th:text="'Catalogo Eventi'" class="btn btn-success"></a>
			</div>
			<div class="col-3 text-center">
				<a th:href="@{/catalogo/libri}" th:text="'Catalogo Libri'" class="btn btn-success"></a>
			</div>
			<div class="col-3 text-center">
				<a th:href="@{/catalogo/utenti}" th:text="'Utenti Registrati'" class="btn btn-success"></a>
			</div>
			<div class="col-3 text-center">
				<a th:href="@{/catalogo/prenotazioni}" th:text="'Prenotazioni'" class="btn btn-success"></a>
			</div>
		</div>
		<div style="min-height:700px; max-height:100%; ">
			<div class="row mt-4" th:if="${adminArea == false}">
				<div class="col-12 text-center " style="margin-bottom: 40px;">
					<input type="text" id="search-input" class="search-input form-control search-bar" placeholder="Cerca..." 
					style="width:400px; height:40px; margin: 0 auto; max-width:100%;">
				</div>
				<div class="col-12 my-4 text-center">
					<a th:href="@{/form/libri}" th:text="'Registra Libro'" class="btn btn-success" th:if="${catalogo == 'libri'}"></a>
					<a th:href="@{/form/eventi}" th:text="'Registra Evento'" class="btn btn-success" th:if="${catalogo == 'eventi'}"></a>
				</div>
				<div class="col-12 text-center">
					<table class="table table-striped table-responsive">
						<thead>
							<tr th:if="${catalogo != 'utenti' AND catalogo != 'prenotazioni'}">
								<th></th>
								<th th:text="'Titolo'"></th>
								<th th:text="'Autore'"></th>
								<th></th>
							</tr>
							<tr th:if="${catalogo == 'utenti'}">
								<th th:text="'Nome'"></th>
								<th th:text="'Username'"></th>
								<th th:text="'Email'"></th>
								<th th:text="'telefono'"></th>
							</tr>
							<tr th:if="${catalogo == 'prenotazioni'}">
								<th th:text="'prenotazione'"></th>
								<th th:text="'Ticket'"></th>
								<th th:text="'Nome'"></th>
								<th></th>
							</tr>
						</thead>
						<tbody th:if="${catalogo == 'libri'}">
							<tr th:each="l : ${libri}">
								<td>
									<img th:if="${l.immagine == null}" th:src="@{image/imagenull.png}" 
										class="img-thumbnail" alt="libro" 
										style="width:50px;max-width:50px;height:60px;max-height:60px;">
									<img th:if="${l.immagine != null}" th:src="@{${l.immagine}}" 
										class="img-thumbnail" alt="libro"
										style="width:50px;max-width:50px;height:60px;max-height:60px;">
								</td>
								<td th:text="${l.titolo}" class="align-middle"></td>
								<td th:text="${l.autore.nome}" class="align-middle"></td>
								<td class="align-middle text-end valign-middle" >
									<a th:href="@{/form/libri(id=${l.id})}" class=" btn-primary btn-sm btn-admin button1" 
										th:text="'Modifica'"></a>
									<a th:href="@{/form/cancellalibro(id=${l.id})}" class=" btn-primary btn-sm btn-admin button2"
										th:text="'Cancella'"></a>
								</td>
							</tr>
						</tbody>
						<tbody th:if="${catalogo == 'eventi'}">
							<tr th:each="e : ${eventi}">
								<td>
									<img th:if="${e.immagine == null}" th:src="@{image/imagenull.png}" 
										class="img-thumbnail" alt="evento" 
										style="width:50px;max-width:50px;height:60px;max-height:60px;">
									<img th:if="${e.immagine != null}" th:src="@{${e.immagine}}" 
										class="img-thumbnail" alt="evento"
										style="width:50px;max-width:50px;height:60px;max-height:60px;">
								</td>
								<td th:text="${e.titolo}" class="align-middle"></td>
								<td th:text="${e.autore.nome}" class="align-middle"></td>
								<td class=" align-middle text-end">
									<a th:href="@{/form/eventi(id=${e.id})}" class="btn-primary btn-sm btn-admin button1" 
										th:text="'Modifica'"></a>
									<a th:href="@{/form/cancellaevento(id=${e.id})}" class="btn-primary btn-sm btn-admin button2" 
										th:text="'Cancella'"></a>
								</td>
							</tr>
						</tbody>
						<tbody th:if="${catalogo == 'utenti'}">
							<tr th:each="a : ${anagrafiche}">
								<td th:text="${a.nome} + ' ' + ${a.cognome}" class="align-middle"></td>
								<td th:text="${a.profilo.username}" class="align-middle"></td>
								<td th:text="${a.profilo.email}" class="align-middle"></td>
								<td th:text="${a.telefono}" class="align-middle"></td>
								<td class=" align-middle ">
									<a th:href="@{/catalogo/cancellaanagrafica(id=${a.id})}" class=" btn-primary btn-sm btn-admin button2" 
										th:text="'Cancella'"></a>
								</td>
							</tr>
						</tbody>
						<tbody th:if="${catalogo == 'prenotazioni'}">
							<tr th:each="p : ${prenotazioni}">
								<td th:text="${p.id}" class="align-middle"></td>
								<td th:text="${p.ticket}" class="align-middle"></td>
								<td th:text="${p.anagrafica.nome} + ' ' + ${p.anagrafica.cognome}" class="align-middle"></td>
								<td class=" align-middle ">
									<a th:href="@{/catalogo/cancellaprenotazione(id=${p.id})}" class=" btn-primary btn-sm btn-admin button2" 
										th:text="'Cancella'"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="footer-dark">
	       <footer>
            <div class="container">
                <div class="row">
                <div class="col-sm-6 col-md-3 item">
                        <h3 th:text="'Contatti'"></h3>
                        <ul>
                            <li><a href="#" th:text="'Email: Levante@gmail.com'"></a></li>
                            <li><a href="#" th:text="'Telefono: +010 41404054'"></a></li>
						</ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3 th:text="'Servizi'"></h3>
                        <ul>
                            <li><a href="#" th:text="'Web design'"></a></li>
                            <li><a href="#" th:text="'Sviluppo'"></a></li>
                            <li><a href="#" th:text="'Generation'"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3 th:text="'Di noi!'"></h3>
                        <ul>
                            <li><a href="#" th:text="'Compagnia'"></a></li>
                            <li><a href="#" th:text="'Squadra'"></a></li>
                            <li><a href="#" th:text="'Carriera'"></a></li>
                        </ul>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
               <a th:href="@{/catalogo}"style="text-decoration: none; color: rgb(178, 172, 172); cursor: pointer;">
                <p class="copyright" th:text="'Libreria Del Levante © 2023'"></p>
                </a>
            </div>
        </footer>
	    </div>
		<script>
		const searchInput = document.getElementById("search-input");
		const table = document.getElementsByTagName("table")[0];
		const rows = table.getElementsByTagName("tr");

		searchInput.addEventListener("keyup", function(event) {
		  const searchText = event.target.value.toLowerCase();

		  Array.from(rows).forEach(function(row) {
		    const cells = row.getElementsByTagName("td");
		    let found = false;

		    Array.from(cells).forEach(function(cell) {
		      const cellText = cell.textContent.toLowerCase();
		      if(cellText.indexOf(searchText) !== -1) {
		        found = true;
		      }
		    });

		    if(found) {
		      row.style.display = "table-row";
		    } else {
		      row.style.display = "none";
		    }
		  });
		});
		</script>
</body>
</html>