<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="'Home Page'"></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	</head>
<body>
	<div class="container-fluid" style="max-width:1200px;">
			<div class="row mt-4">
				<div class="col-2 text-end">
					<a th:href="@{/catalogo/eventi}" th:text="'Catalogo Eventi'" class="btn btn-success" th:if="${catalogo == false}"></a>
					<a th:href="@{/catalogo/libri}" th:text="'Catalogo Libri'" class="btn btn-success" th:if="${catalogo == true}"></a>
				</div>
				<div class="col-8 text-center">
					<h4 th:text="'Catalogo Libri'" th:if="${catalogo == false}"></h4>
					<h4 th:text="'Catalogo Eventi'" th:if="${catalogo == true}"></h4>
				</div>
				<div class="col-2 text-end">
					<a th:href="@{/form/libri}" th:text="'Registra Libro'" class="btn btn-success" th:if="${catalogo == false}"></a>
					<a th:href="@{/form/eventi}" th:text="'Registra Evento'" class="btn btn-success" th:if="${catalogo == true}"></a>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12 text-center">
					<input type="text" id="search-input" placeholder="Cerca nel catalogo..." style="width:400px; height:40px;">
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12">
					<table class="table table-striped table-responsive">
						<thead>
							<tr>
								<th></th>
								<th th:text="'Titolo'"></th>
								<th th:text="'Autore'"></th>
								<th></th>
							</tr>
						</thead>
						<tbody th:if="${catalogo == false}">
							<tr th:each="l : ${libri}">
								<td>
									<img th:if="${l.immagine == null}" th:src="@{image/imagenull.png}" 
										class="img-thumbnail" alt="libro" 
										style="width:50px;max-width:50px;height:60px;max-height:60px;">
									<img th:if="${l.immagine != null}" th:src="@{${l.immagine}}" 
										class="img-thumbnail" alt="libro"
										style="width:50px;max-width:50px;height:60px;max-height:60px;">
								</td>
								<td th:text="${l.titolo}" class="align-middle"></td>
								<td th:text="${l.autore.nome}" class="align-middle"></td>
								<td class=" align-middle text-end">
									<a th:href="@{/form/libri(id=${l.id})}" class="btn btn-primary btn-sm" 
										th:text="'Modifica Libro'"></a>
									<a th:href="@{/form/cancellalibro(id=${l.id})}" class="btn btn-primary btn-sm" 
										th:text="'Cancella Libro'" style="background-color:red; border:red;"></a>
								</td>
							</tr>
						</tbody>
						<tbody th:if="${catalogo == true}">
							<tr th:each="e : ${eventi}">
								<td>
									<img th:if="${e.immagine == null}" th:src="@{image/imagenull.png}" 
										class="img-thumbnail" alt="evento" 
										style="width:50px;max-width:50px;height:60px;max-height:60px;">
									<img th:if="${e.immagine != null}" th:src="@{${e.immagine}}" 
										class="img-thumbnail" alt="evento"
										style="width:50px;max-width:50px;height:60px;max-height:60px;">
								</td>
								<td th:text="${e.titolo}" class="align-middle"></td>
								<td th:text="${e.autore.nome}" class="align-middle"></td>
								<td class=" align-middle text-end">
									<a th:href="@{/form/eventi(id=${e.id})}" class="btn btn-primary btn-sm" 
										th:text="'Modifica Evento'"></a>
									<a th:href="@{/form/cancellaevento(id=${e.id})}" class="btn btn-primary btn-sm" 
										th:text="'Cancella Evento'" style="background-color:red; border:red;"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script>
		const searchInput = document.getElementById("search-input");
		const table = document.getElementsByTagName("table")[0];
		const rows = table.getElementsByTagName("tr");

		searchInput.addEventListener("keyup", function(event) {
		  const searchText = event.target.value.toLowerCase();

		  Array.from(rows).forEach(function(row) {
		    const cells = row.getElementsByTagName("td");
		    let found = false;

		    Array.from(cells).forEach(function(cell) {
		      const cellText = cell.textContent.toLowerCase();
		      if(cellText.indexOf(searchText) !== -1) {
		        found = true;
		      }
		    });

		    if(found) {
		      row.style.display = "table-row";
		    } else {
		      row.style.display = "none";
		    }
		  });
		});
		</script>
</body>
</html>