<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="styleDettaglio.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
 <body>
    <header class="header">
        <div class="content-logo">
        <a href="HomePage.html"><img class="img-logo" src="LibreriaDelLevantesolo_logo2.jpg" alt="LOGO">
        <img class="img-testo" src="LibreriaDelLevantesolo_testo2.jpg" alt="LOGO"></a>
        </div>
        <nav class="nav-bar">
            <a href="HomePage.html">Home</a>
            <a href="CatalogoLibri.html">Cataloghi</a>
            <a href="Eventi.html">Eventi</a>
            <a href="#">Contatti</a> 
        </nav>
        <nav class="nav-bar">
            <a href="Form.html">Accedi / Registrati</a>
        </nav>
    </header>
    <div class="cover-header"></div>
        <div class="contenitore-dettaglio">
            <div class="box-immagine">
                <img src="https://live.staticflickr.com/65535/48204849331_bbab8e749b_z.jpg" alt="immagine">
            </div>
            <div class="box-resume">
                <div class="box-resume-2">
                <h1>TITOLO</h1>
                <div class="content-autore">
                    <p class="contenuto-autore">gajbfkhabgakjnfkajbgajkbgakjakv ajkhfb ajhvbajvbasknv</p>
                </div>

                <div class="box-descrizione">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>

                <div class="content-acquisti">
                    <p>Prezzo: 1234€</p>
                    <div class="content-button-prenota">
                        <button type="submit" placeholder="PRENOTA">PRENOTA</button>
                    </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Servizi</h3>
                            <ul>
                                <li><a href="#">Web design</a></li>
                                <li><a href="#">Svilupppo</a></li>
                                <li><a href="#">Hosting</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Di noi!</h3>
                            <ul>
                                <li><a href="#">Azienda</a></li>
                                <li><a href="#">Squadra</a></li>
                                <li><a href="#">Carriere</a></li>
                            </ul>
                        </div>
                        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                    </div>
                    <p class="copyright">Libreria Del Levante © 2023</p>
                </div>
            </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
 </body>
</html>