<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/styleEventi.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title th:text="Eventi"></title>
</head>
 <body>
    <header class="header">
        <div class="content-logo">
        <a href="HomePage.html"><img class="img-logo" src="css/LibreriaDelLevantesolo_logo2.jpg" alt="LOGO">
        <img class="img-testo" src="LibreriaDelLevantesolo_testo2.jpg" alt="LOGO"></a>
        </div>
        <nav class="nav-bar">
            <a href="HomePage.html">Home</a>
            <a href="CatalogoLibri.html">Cataloghi</a>
            <a href="Eventi.html">Eventi</a>
            <a href="#">Contatti</a> 
        </nav>
        <nav class="nav-bar">
            <a href="Form.html">Accedi / Registrati</a>
        </nav>
    </header>
    <div class="cover-header"></div>
    <div class="contenitore">
        <div class="container-top">
            <div class="contenitore-immmagine-event">
                <div class="text-event">
                    <h1>Evento Libreria Del Levante</h1>
                </div>
            </div>
        </div>
        <div class="immagine-evento" >
        	<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d182293.26004324885!2d8.726023448153326!3d44.44685920581271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d34152dcd49aad%3A0x236a84f11881620a!2sGenova%20GE!5e0!3m2!1sit!2sit!4v1681477359509!5m2!1sit!2sit" width="800" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="linea"></div>
                <h1>SCOPRI TUTTI I NOSTRI EVENTI</h1>
        </div>
        <form action="eventi/prenotaevento" method="post">
	        <div class="container-body" >
	        	<div class="text-event">
	        		<h1>Titolo</h1>
	        		<h5> Autore</h5>
	        		<p > 23/3/4234 32:34:34</p>
	        	</div>
	            <div class="container-desc-autore">
	                <div class="autore-immagine">
			            <img th:src="e.immagine" alt="">
			        </div>
			        <div class="desc-autore" >
			            <p>sfdggsfdsghshgiksudfghksjgsdjfhgueegyrejhugkjdfhgkdfhfgkjdhgkjdfhg
			          </p>
			        </div>
				</div> 
				<div>
				    <label for="idEvento"  ></label>
				    <input type="hidden" id="idEvento" name="idEvento" >
					<div class="content-button" >
				    	<input type="submit" class="btn btn-primary" value="'PRENOTA BIGLIETTO'">
		            </div>
	    		</div>
        	</div>
        </form>
        <form action="eventi/prenotaevento" method="post" th:each="e : ${eventi}">
	        <div class="container-body" >
	        	<div class="text-event">
	        		<h1 th:text="${e.titolo}"></h1>
	        		<h5 th:text="${e.autore.nome}"></h5>
	        		<p th:text="${#temporals.format(e.data,'dd-MM-yyyy')} + ' ' + ${e.orario}"></p>
	        	</div>
	            <div class="container-desc-autore">
	                <div class="autore-immagine">
			            <img th:src="${e.immagine}" alt="">
			        </div>
			        <div class="desc-autore" >
			            <p th:text="${e.descrizione}"></p>
			        </div>
				</div> 
				<div>
				    <label for="idEvento"  ></label>
				    <input th:value="${e.id}" type="hidden" id="idEvento" name="idEvento" >
					<div class="content-button" >
				    	<input type="submit" class="btn btn-primary" th:value="'PRENOTA BIGLIETTO'">
		            </div>
	    		</div>
        	</div>
        </form>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servizi</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Svilupppo</a></li>
                            <li><a href="#">Generation</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Di noi!</h3>
                        <ul>
                            <li><a href="#">Compagnia</a></li>
                            <li><a href="#">Squadra</a></li>
                            <li><a href="#">Carriera</a></li>
                        </ul>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Libreria Del Levante © 2023</p>
            </div>
        </footer>
    </div>
</body>
</html>