<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/Form.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title th:text="'Registra Utente'"></title>
</head>
 <body>
    <header class="header">
        <div class="content-logo">
        <img src="logo2.jpg" alt="LOGO">
        </div>
        <nav class="nav-bar">
            <a href="HomePage.html">Home</a>
            <a href="CatalogoLibri.html">Cataloghi</a>
            <a href="Eventi.html">Eventi</a>
            <a href="#">Contatti</a> 
        </nav>
        <nav class="nav-bar">
            <a th:href="@{/formutente}">Accedi / Registrati</a>
        </nav>
    </header>
    <div class="cover-header"></div>

    <div class="contenitore-form">
        
        <div class="box reg">
            <form action="" th:object="${anagrafica}" method="POST">
                <h2 th:text="'Registrati'"></h2>
                   <div class="input-box" hidden="hidden"> 
                   <input th:field="*{id}" type="text" id="id" name="id" class="form-control"
									   required="required" readonly hidden="hidden">
                   </div>
                <div class="input-box">
                    <span class="icon"></span>
					<input th:field="*{nome}" type="text" id="nome" name="nome" class="form-control" required="required">
					 <label th:text="'Nome:'"></label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input th:field="*{cognome}" type="text" id="cognome" name="cognome" class="form-control" required="required">
					 <label th:text="'Cognome:'"></label>
                </div>
                  <div class="input-box">
                    <span class="icon"></span>
                   <input th:field="*{telefono}" type="text" id="telefono" name="telefono" class="form-control" required="required">
					<label th:text="'Telefono'"></label>
                </div>
                <div class="input-box" hidden="hidden">
                	<input th:field="*{profilo.id}" type="text" id="idP" name="idP" class="form-control" required="required" readonly hidden="hidden">
                </div> 
                <div class="input-box">
                    <span class="icon"></span>
                    <input th:field="*{profilo.username}" type="text" id="username" name="username" class="form-control" required="required">
                  <label th:text="'Username'"></label>
                </div>
                
                <div class="input-box">
                    <span class="icon"></span>
                    <input th:field="*{profilo.email}" type="email" id="email" name="email" class="form-control" required="required">
                    <label th:text="'Email'"></label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
					<input th:field="*{profilo.password}" type="password" id="password" name="password" class="form-control">
                    <label th:text="'Password'"></label>
                </div>
                <div class="pass-dimenticato">
                    <a href="#">Password dimenticata?</a>
                </div>
                <input type="submit" th:value="'Registrati'" class="btn btn-primary">
				&emsp; 
					<a th:href="@{/homepage}" class="btn btn-secondary" th:text="'Torna Indietro'"></a>
                <div class="accedi-registrati">
                </div>
            </form>
        </div>

    <div class="accedi_registrati-box">
        <div class="box accedi">
                <form action="">
                    <h2>Accedi</h2>
                    <div class="input-box">
                        <span class="icon"></span>
                        <input type="text" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"></span>
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <div class="pass-dimenticato">
                        <a href="#">Password dimenticato?</a>
                    </div>
                    <button type="submit" class="btn-accedi">Accedi</button>
                    <div class="accedi-registrati">
                        <p>Non Hai un account?<a href="#"> Registrati</a></p>
                    </div>
                </form>
        </div>
    </div>
    </div>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servizi</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Svilupppo</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Di noi!</h3>
                        <ul>
                            <li><a href="#">Azienda</a></li>
                            <li><a href="#">Squadra</a></li>
                            <li><a href="#">Carriere</a></li>
                        </ul>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Libreria Del Levante © 2023</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
        
    </script>
 </body>
</html>