<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Form.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/AreaAmministratore.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title th:text="'Login Admin'"></title>
</head>
 <body>
    <div class="contenitore-form" style="margin: 0 auto;">
        <div class="box accedi" id="accedi">
            <form action="loginadmin" method="POST">
                <h2 th:text="'Login Amministratore'"></h2>
                <div class="input-box">
                    <span class="icon"><i class='bx bx-user'></i></span>
                    <input  type="text" id="username" name="username" class="form-control" required="required">
                  <label th:text="'Username'"></label>
                </div>
                
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
					<input type="password" id="password" name="password" class="form-control" required="required">
                    <label th:text="'Password'"></label>
                </div>
                <input  type="submit" th:value="'Accedi'" class="btn-accedi">
            </form>
                    </div>
        			<div class="errore" th:if="${logError}" >
							<p th:text="'Credenziali Errate, accesso negato'"></p>
						</div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
 </body>
</html>